/*fonts */
@font-face {
  font-family: 'frutiger-bold';
  src: url("fonts/FrutigerLT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'frutiger-black';
  src: url("fonts/FrutigerLT-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'frutiger-roman';
  src: url("fonts/FrutigerLT-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "frutiger-roman", Arial, sans-serif;
  font-weight: normal; }

.bot-p, .warning-box .bot-p, .date-col p:first-child, .platform.special-message-middle .hr-padding h2 {
  font-family: "frutiger-bold", Arial, sans-serif;
  font-weight: bold; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: middle;
  border-spacing: 0px; }

body {
  margin: 0; }

/* row style */
.row-w-pad {
  float: left;
  height: 100%;
  position: relative;
  width: 100%; }

/* content styles */
h1 {
  line-height: 1em;
  margin-bottom: 0.2em;
  margin-top: 0.1em; }

p.sub-p {
  margin: 0;
  font-style: italic; }

hr {
  border: 0;
  border-top: solid #000000;
  margin: 0;
  margin-top: 1.7%; }

p.ns-p {
  margin-top: 0.6em; }

p.list-p {
  font-weight: normal;
  margin-top: 0px; }
  p.list-p em {
    font-style: normal;
    font-weight: lighter; }

.frameRow {
  margin-bottom: -1px; }

.topbg01,
.middlebg01 {
  background: #FBFBFB; }

tr.topRow {
  height: 100%; }

td.logo-row {
  vertical-align: top; }

.middleIcon {
  background: #FFD401;
  border-radius: 50%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  text-align: center;
  width: 100%; }
  .middleIcon img {
    filter: brightness(0);
    height: 60%;
    left: 50%;
    margin-top: 20%;
    position: absolute;
    transform: translateX(-50%); }
    .middleIcon img.middleIcon-parking {
      height: 50%;
      margin-top: 25%;
      transform: translateX(-45%); }

.topIcon {
  background: #FFD401;
  border-radius: 50%;
  float: left;
  height: 69px;
  margin-right: 20px;
  width: 69px; }
  .topIcon img {
    height: 34.5px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.iconLeft {
  margin-right: 33px;
  position: relative;
  width: 82px; }

.bot-box {
  background-color: #000000;
  color: #FFFFFF !important;
  font-size: 0;
  position: relative; }
  .bot-box img {
    display: inline-block;
    filter: brightness(10);
    font-size: 0;
    margin-right: 5%;
    vertical-align: middle; }

.activeBox {
  background-color: #FFD401;
  color: #000000 !important; }
  .activeBox img {
    filter: brightness(0); }
  .activeBox hr {
    border-top: 2px solid #FFFFFF; }
  .activeBox p.ns-p {
    font-weight: lighter; }
  .activeBox .bot-p {
    font-weight: normal; }
  .activeBox .sub-p {
    margin-top: 0px; }

.bypass-box {
  background-color: #DDDDDC;
  color: #7F7F7F !important; }
  .bypass-box img {
    filter: invert(52%); }

.bot-p {
  font-size: 29px;
  text-align: center; }
  .bot-p em {
    font-size: 0.9em;
    font-style: normal; }

.arrow-box {
  background: #FFD401;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  transform: translate(-23px, -50%);
  top: 50%;
  width: 50px;
  z-index: 10; }
  .arrow-box img {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 36%; }
  .arrow-box img.arrowFacing-left {
    transform: rotate(180deg);
    transform-origin: 22% 24%; }
  .arrow-box img.arrowFacing-right {
    transform-origin: 22% 24%; }

.arrowOn-left {
  left: 33.333%; }

.arrowOn-right {
  left: 66.666%; }

.warning-box {
  background-color: #FFD401;
  color: #000000 !important; }
  .warning-box img {
    height: 60%; }
    .warning-box img.attention-img-left {
      float: left;
      margin-left: 50px; }
    .warning-box img.attention-img-right {
      float: right;
      margin-right: 50px; }
  .warning-box .bot-p {
    font-weight: normal;
    font-size: 29px;
    text-align: center; }
    .warning-box .bot-p em {
      font-size: 0.9em;
      font-style: normal; }
  .warning-box .sub-p {
    margin-top: 0px; }

.active-right {
  width: 100%;
  height: 100%;
  padding: 43px; }

img.sun-spin {
  width: 100%;
  float: right;
  margin-top: 0; }

.time-h1 {
  margin: 0;
  text-align: center; }

.platform .row-w-pad {
  padding: 1.4% 4.4%; }
  .platform .row-w-pad td {
    vertical-align: top; }

.platform h1 {
  font-size: 3.8em; }

.platform p.sub-p {
  font-size: 1.8em;
  line-height: 0.9em; }

.platform hr {
  width: 8%;
  border-width: 3px; }

.platform p.ns-p {
  font-size: 1.6em;
  line-height: 1.5em;
  width: 98%; }

.platform p.instance-p {
  font-size: 1.6em; }

.platform p.list-p {
  font-size: 30px;
  line-height: 42px; }

.platform img.logo {
  float: right;
  width: 159px; }

.platform .activeBox hr {
  width: 38%; }

.platform .activeBox .sub-p {
  margin-bottom: -8px;
  font-size: 1.7em; }

.platform .bot-box img {
  width: 12%; }

.platform .date-col p {
  font-size: 1.75em; }

.platform .logo-row {
  vertical-align: bottom; }

.platform .doors-img {
  height: 315px; }

.platform.special-message-middle hr {
  position: absolute; }

.platform.special-message-middle .messageText {
  padding: 0; }

.platform.special-message-middle .hr-padding {
  padding-top: 35px; }
  .platform.special-message-middle .hr-padding h2 {
    font-size: 2.7em; }
  .platform.special-message-middle .hr-padding p {
    font-size: 2em;
    font-weight: 100; }

.platform.special-message-middle table p {
  font-size: 2em;
  font-weight: 100; }

.platform.special-message-middle table.outOfService, .platform.special-message-middle table.onDemand {
  background-color: #ffd400;
  padding: 0 20px; }
  .platform.special-message-middle table.outOfService p, .platform.special-message-middle table.onDemand p {
    font-size: 1.5em; }

.platform.special-message-middle table.onDemand {
  background-color: #DDDDDC;
  color: #7F7F7F !important; }

.platform.special-message-bottom table {
  background-color: #FBFBFB;
  padding: 20px 45px;
  width: 100%;
  height: 50px; }
  .platform.special-message-bottom table p {
    font-size: 2em;
    font-weight: 100;
    width: 850px; }

.platform.special-message-bottom .messageText {
  padding: 0; }

.onBoard .row-w-pad td {
  vertical-align: middle; }

.onBoard .row-w-pad .doors-close-img {
  float: left;
  height: 250px;
  padding-left: 100px; }

.onBoard .row-w-pad .doors-close-text {
  margin-top: 3.3em;
  padding-left: 34em; }

.onBoard h1 {
  font-size: 3.2em; }

.onBoard p.sub-p {
  font-size: 2em;
  line-height: 1em; }

.onBoard hr {
  width: 11%;
  border-width: 2px; }

.onBoard p.ns-p {
  font-size: 1.7em;
  line-height: 1.35em;
  width: 100%; }

.onBoard p.list-p {
  font-size: 20px;
  line-height: 28px; }

.onBoard img.logo {
  width: 64%; }

.onBoard .activeBox hr {
  width: 35%; }

.onBoard .activeBox h1 {
  font-size: 2.25em; }

.onBoard .activeBox .sub-p {
  margin-top: 0px;
  font-size: 1.5em; }

.onBoard .bot-box img {
  height: 50%; }

.onBoard .arrow-box {
  width: 40px;
  height: 40px;
  transform: translate(-20px, -50%); }

.onBoard .time-h1 {
  font-size: 2.75em; }

.onBoard .date-col p {
  font-size: 1.25em; }

.onBoard .topCell-left {
  width: 83%;
  padding: 0 3% 0 5%; }

.onBoard .topCell-right {
  width: 17%;
  text-align: center; }

.onBoard td.topCell-right {
  vertical-align: top; }

.onBoard td.logo-row {
  padding-top: 21%;
  text-align: center; }
